:root {
  --themeprimary: rgba(255, 179, 14, 1);
  --themesecondary: rgba(39, 128, 237, 1);
  --themewarning: rgba(241, 114, 40, 1);
  --themegray-50: rgba(252, 252, 252, 1);
  --themegray-100: rgba(245, 245, 245, 1);
  --themegray-200: rgba(238, 238, 238, 1);
  --themegray-300: rgba(224, 224, 224, 1);
  --themegray-400: rgba(189, 189, 189, 1);
  --themegray-500: rgba(158, 158, 158, 1);
  --themegray-600: rgba(117, 117, 117, 1);
  --themegray-700: rgba(97, 97, 97, 1);
  --themegray-800: rgba(66, 66, 66, 1);
  --themegray-900: rgba(33, 33, 33, 1);
  --themewhite: rgba(255, 255, 255, 1);
  --themeblack: rgba(0, 0, 0, 1);
  --themesuccess: rgba(121, 185, 60, 1);
  --headline-1-font-family: "Source Sans Pro", Helvetica;
  --headline-1-font-weight: 400;
  --headline-1-font-size: 88px;
  --headline-1-letter-spacing: 0px;
  --headline-1-line-height: 100%;
  --headline-1-font-style: normal;
  --headline-1-bold-font-family: "Source Sans Pro", Helvetica;
  --headline-1-bold-font-weight: 700;
  --headline-1-bold-font-size: 88px;
  --headline-1-bold-letter-spacing: 0px;
  --headline-1-bold-line-height: 100%;
  --headline-1-bold-font-style: normal;
  --headline-2-font-family: "Source Sans Pro", Helvetica;
  --headline-2-font-weight: 400;
  --headline-2-font-size: 68px;
  --headline-2-letter-spacing: 0px;
  --headline-2-line-height: 105.9999942779541%;
  --headline-2-font-style: normal;
  --headline-2-bold-font-family: "Source Sans Pro", Helvetica;
  --headline-2-bold-font-weight: 700;
  --headline-2-bold-font-size: 68px;
  --headline-2-bold-letter-spacing: 0px;
  --headline-2-bold-line-height: 105.9999942779541%;
  --headline-2-bold-font-style: normal;
  --headline-3-font-family: "Source Sans Pro", Helvetica;
  --headline-3-font-weight: 400;
  --headline-3-font-size: 54px;
  --headline-3-letter-spacing: 0px;
  --headline-3-line-height: 110.00000238418579%;
  --headline-3-font-style: normal;
  --headline-3-bold-font-family: "Source Sans Pro", Helvetica;
  --headline-3-bold-font-weight: 700;
  --headline-3-bold-font-size: 54px;
  --headline-3-bold-letter-spacing: 0px;
  --headline-3-bold-line-height: 110.00000238418579%;
  --headline-3-bold-font-style: normal;
  --headline-4-font-family: "Source Sans Pro", Helvetica;
  --headline-4-font-weight: 400;
  --headline-4-font-size: 43px;
  --headline-4-letter-spacing: 0px;
  --headline-4-line-height: 112.00000047683716%;
  --headline-4-font-style: normal;
  --headline-4-bold-font-family: "Source Sans Pro", Helvetica;
  --headline-4-bold-font-weight: 700;
  --headline-4-bold-font-size: 43px;
  --headline-4-bold-letter-spacing: 0px;
  --headline-4-bold-line-height: 112.00000047683716%;
  --headline-4-bold-font-style: normal;
  --headline-5-font-family: "Source Sans Pro", Helvetica;
  --headline-5-font-weight: 400;
  --headline-5-font-size: 35px;
  --headline-5-letter-spacing: 0px;
  --headline-5-line-height: 120.00000476837158%;
  --headline-5-font-style: normal;
  --headline-5-bold-font-family: "Source Sans Pro", Helvetica;
  --headline-5-bold-font-weight: 700;
  --headline-5-bold-font-size: 35px;
  --headline-5-bold-letter-spacing: 0px;
  --headline-5-bold-line-height: 120.00000476837158%;
  --headline-5-bold-font-style: normal;
  --headline-6-font-family: "Source Sans Pro", Helvetica;
  --headline-6-font-weight: 400;
  --headline-6-font-size: 22px;
  --headline-6-letter-spacing: 0px;
  --headline-6-line-height: 120.00000476837158%;
  --headline-6-font-style: normal;
  --headline-6-bold-font-family: "Source Sans Pro", Helvetica;
  --headline-6-bold-font-weight: 700;
  --headline-6-bold-font-size: 22px;
  --headline-6-bold-letter-spacing: 0px;
  --headline-6-bold-line-height: 120.00000476837158%;
  --headline-6-bold-font-style: normal;
  --subtitle-1-font-family: "Open Sans", Helvetica;
  --subtitle-1-font-weight: 400;
  --subtitle-1-font-size: 18px;
  --subtitle-1-letter-spacing: 0px;
  --subtitle-1-line-height: 139.9999976158142%;
  --subtitle-1-font-style: normal;
  --subtitle-2-font-family: "Source Sans Pro", Helvetica;
  --subtitle-2-font-weight: 700;
  --subtitle-2-font-size: 14px;
  --subtitle-2-letter-spacing: 0px;
  --subtitle-2-line-height: 139.9999976158142%;
  --subtitle-2-font-style: normal;
  --body-1-font-family: "Open Sans", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 18px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 139.9999976158142%;
  --body-1-font-style: normal;
  --body-1-bold-font-family: "Open Sans", Helvetica;
  --body-1-bold-font-weight: 700;
  --body-1-bold-font-size: 18px;
  --body-1-bold-letter-spacing: 0px;
  --body-1-bold-line-height: 139.9999976158142%;
  --body-1-bold-font-style: normal;
  --body-2-font-family: "Source Sans Pro", Helvetica;
  --body-2-font-weight: 400;
  --body-2-font-size: 14px;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 139.9999976158142%;
  --body-2-font-style: normal;
  --body-2-bold-font-family: "Source Sans Pro", Helvetica;
  --body-2-bold-font-weight: 700;
  --body-2-bold-font-size: 14px;
  --body-2-bold-letter-spacing: 0px;
  --body-2-bold-line-height: 139.9999976158142%;
  --body-2-bold-font-style: normal;
  --button-font-family: "Source Sans Pro", Helvetica;
  --button-font-weight: 400;
  --button-font-size: 18px;
  --button-letter-spacing: 0px;
  --button-line-height: 100%;
  --button-font-style: normal;
  --button-bold-font-family: "Source Sans Pro", Helvetica;
  --button-bold-font-weight: 700;
  --button-bold-font-size: 18px;
  --button-bold-letter-spacing: 0px;
  --button-bold-line-height: 100%;
  --button-bold-font-style: normal;
  --caption-italic-font-family: "Open Sans", Helvetica;
  --caption-italic-font-weight: 400;
  --caption-italic-font-size: 12px;
  --caption-italic-letter-spacing: 0px;
  --caption-italic-line-height: 139.9999976158142%;
  --caption-italic-font-style: normal;
  --caption-bold-italic-font-family: "Open Sans", Helvetica;
  --caption-bold-italic-font-weight: 400;
  --caption-bold-italic-font-size: 12px;
  --caption-bold-italic-letter-spacing: 0px;
  --caption-bold-italic-line-height: 139.9999976158142%;
  --caption-bold-italic-font-style: normal;
  --overline-font-family: "Source Sans Pro", Helvetica;
  --overline-font-weight: 400;
  --overline-font-size: 10px;
  --overline-letter-spacing: 0.8px;
  --overline-line-height: 139.9999976158142%;
  --overline-font-style: normal;
  --overline-bold-font-family: "Source Sans Pro", Helvetica;
  --overline-bold-font-weight: 700;
  --overline-bold-font-size: 14px;
  --overline-bold-letter-spacing: 1.12px;
  --overline-bold-line-height: 139.9999976158142%;
  --overline-bold-font-style: normal;
  --1: 0px 4px 85px 0px rgba(255, 175, 23, 0.4);
  --shadow:
    0px 5.054077625274658px 18.34269142150879px 0px rgba(0, 0, 0, 0.02), 0px 16.975595474243164px 70.07137298583984px 0px rgba(
      0,
      0,
      0,
      0.02
    ), 0px 76px 98px 0px rgba(0, 0, 0, 0.04);
  --shadow-2: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px
    rgba(253, 114, 92, 0.22);
  --shadow-1: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px
    rgba(255, 174, 0, 0.26);
  --object-shadow-2: 0px 27px 82px 0px rgba(255, 174, 0, 0.28), 0px 14px 15px
    0px rgba(255, 174, 0, 0.01);
  --object-shadow-1: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px
    rgba(255, 174, 0, 0.26);
}

