* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #f5f5f5; */
  padding: 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color:#212121;
  font-size: 30px;
  margin-top: 12px;
  margin-bottom: 60px;
}

.restaurant-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-left: 40px;
  margin-right:40px;
  justify-content: center;
}

.restaurant-item {
  flex: 1 1 280px;
  max-width: 320px;
  min-width: 280px;
}

.image-wrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 15px;
}
.image-wrapper img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.badges {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 10px;
}

.badge {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
}

.discount-badge {
  font-size: 16px;
  background-color: #ff6b35;
}

.fast-badge {
  font-size: 16px;
  background-color: #ffa500;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.restaurant-logo {
  width:223px;
  height: 64px;
}

.text-box {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  color:#424242;
  font-weight: 700;
  font-size: 16px;
}

.restaurant-logo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  padding: 5px;
}


/* .info {
  text-align: left;
  margin-top: 10px;
} */
.rating {
  font-size: 14px;
  font-weight: 500;
  color:#FFB30E;
}

.status {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.open {
  display: inline-block;
  padding: 5px 12px;
  background-color: #ffe0cc;
  color: #ff6b35;
  border:none;
  border-radius: 10px;  
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.open_now{
  display: inline-block;
  padding: 5px 12px;
  background: #e0f4cc;
  color: #79B93C;
  border:none;
  border-radius: 10px;  
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.view_container {
  text-align: center;
  margin-top: 40px;
  cursor:default;

}
.view_btn {
  text-align: center;
  width: 178px;
  height: 60px ;
  border:none;
  border-radius: 14px;
  font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', 'Times New Roman', sans-serif;
  font-weight: bold;
  font-size:16px;
  color:white;
  background-color:#FFBA26;
  box-shadow: 2px 7px 12px #fecd51;
  cursor: pointer;
 

}

@media (max-width: 768px) 
{
  h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

.restaurant-grid {
  gap: 25px;
}

.restaurant-item {
  flex: 1 1 100%;
  max-width: 100%;
}

}

@media (min-width: 769px) and (max-width: 1024px) {
  .restaurant-item {
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}

@media (min-width: 1025px) {
  .restaurant-item {
    flex: 1 1 calc(25% - 23px);
    max-width: calc(25% - 23px);
  }
}