.top-nav-header {
  position: relative;
  width: 1920px;
  height: 696px;
}

.top-nav-header .rectangle {
  top: 1px;
  width: 1920px;
  height: 632px;
  background-color: var(--themeprimary);
  position: absolute;
  left: 0;
}

.top-nav-header .div {
  top: 76px;
  width: 785px;
  height: 557px;
  background-color: #c4c4c4;
  position: absolute;
  left: 0;
}

.top-nav-header .img {
  top: 76px;
  width: 1919px;
  height: 620px;
  position: absolute;
  left: 0;
}

.top-nav-header .header {
  position: absolute;
  top: 76px;
  left: 0;
  width: 1920px;
  height: 620px;
  background-color: transparent;
  background-image: url(../images/group-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.top-nav-header .image {
  position: absolute;
  top: 100px;
  left: 997px;
  width: 774px;
  height: 520px;
}

.top-nav-header .title-order-card {
  display: flex;
  flex-direction: column;
  width: 856px;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 132px;
  left: 220px;
}

.top-nav-header .title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 16px;
}

.top-nav-header .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  text-shadow: 0px 27px 82px #ffad0047;
  font-family: var(--headline-1-bold-font-family);
  font-weight: var(--headline-1-bold-font-weight);
  color: var(--themewhite);
  font-size: var(--headline-1-bold-font-size);
  letter-spacing: var(--headline-1-bold-letter-spacing);
  line-height: var(--headline-1-bold-line-height);
  white-space: nowrap;
  font-style: var(--headline-1-bold-font-style);
  box-shadow: var(--object-shadow-2);
}

.top-nav-header .p {
  position: relative;
  width: fit-content;
  font-family: var(--headline-6-font-family);
  font-weight: var(--headline-6-font-weight);
  color: #4f4f4f;
  font-size: var(--headline-6-font-size);
  letter-spacing: var(--headline-6-letter-spacing);
  line-height: var(--headline-6-line-height);
  white-space: nowrap;
  font-style: var(--headline-6-font-style);
}

.top-nav-header .order-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--object-shadow-1);
}

.top-nav-header .top {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--themewhite);
}

.top-nav-header .tab {
  background-color: #f172281a;
  border-radius: 8px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 24px;
  position: relative;
  flex: 0 0 auto;
}

.top-nav-header .icon {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: var(--themewarning);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.top-nav-header .text {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: var(--themewarning);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.top-nav-header .tab-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 24px;
  position: relative;
  flex: 0 0 auto;
}

.top-nav-header .icon-2 {
  margin-top: -1.00px;
  color: var(--themegray-600);
  font-size: 18px;
  line-height: 18px;
  position: relative;
  width: fit-content;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.top-nav-header .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: var(--themegray-600);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.top-nav-header .HR {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1.44px;
}

.top-nav-header .bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--themewhite);
}

.top-nav-header .text-field-button {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.top-nav-header .text-field {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 7px 0px 8px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--themegray-100);
  border-radius: 8px;
}

.top-nav-header .icon-3 {
  margin-top: -1.00px;
  color: #ff7373;
  font-size: 24px;
  line-height: 33.6px;
  position: relative;
  width: fit-content;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.top-nav-header .text-3 {
  position: relative;
  width: fit-content;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  color: var(--themegray-500);
  font-size: var(--body-1-font-size);
  letter-spacing: var(--body-1-letter-spacing);
  line-height: var(--body-1-line-height);
  white-space: nowrap;
  font-style: var(--body-1-font-style);
}

.top-nav-header .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 21px 48px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  background: linear-gradient(
    5deg,
    rgba(255, 122, 122, 1) 0%,
    rgba(246, 89, 0, 1) 100%
  );
}

.top-nav-header .icon-4 {
  color: var(--themewhite);
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  position: relative;
  width: fit-content;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.top-nav-header .text-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Source Sans Pro-Bold", Helvetica;
  font-weight: 700;
  color: var(--themewhite);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.top-nav-header .top-nav {
  display: flex;
  width: 1920px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 220px;
  position: absolute;
  top: -2px;
  left: 0;
  background-color: var(--themewhite);
  box-shadow: var(--object-shadow-1);
}

.top-nav-header .logo {
  display: flex;
  width: 197px;
  align-items: center;
  gap: 11.5px;
  position: relative;
}

.top-nav-header .mask-group {
  position: relative;
  width: 28px;
  height: 29.98px;
}

.top-nav-header .frame {
  position: relative;
  width: 272px;
  margin-right: -114.50px;
}

.top-nav-header .deliver-address {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.top-nav-header .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--button-bold-font-family);
  font-weight: var(--button-bold-font-weight);
  color: var(--themegray-800);
  font-size: var(--button-bold-font-size);
  text-align: center;
  letter-spacing: var(--button-bold-letter-spacing);
  line-height: var(--button-bold-line-height);
  white-space: nowrap;
  font-style: var(--button-bold-font-style);
}

.top-nav-header .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.top-nav-header .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: var(--themeprimary);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.2px;
  white-space: nowrap;
}

.top-nav-header .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.top-nav-header .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--subtitle-1-font-family);
  font-weight: var(--subtitle-1-font-weight);
  color: var(--themegray-800);
  font-size: var(--subtitle-1-font-size);
  text-align: center;
  letter-spacing: var(--subtitle-1-letter-spacing);
  line-height: var(--subtitle-1-line-height);
  white-space: nowrap;
  font-style: var(--subtitle-1-font-style);
}

.top-nav-header .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-1-bold-font-family);
  font-weight: var(--body-1-bold-font-weight);
  color: var(--themegray-800);
  font-size: var(--body-1-bold-font-size);
  text-align: center;
  letter-spacing: var(--body-1-bold-letter-spacing);
  line-height: var(--body-1-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-1-bold-font-style);
}

.top-nav-header .search-login-button {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.top-nav-header .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.top-nav-header .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: var(--themeprimary);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.top-nav-header .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--button-bold-font-family);
  font-weight: var(--button-bold-font-weight);
  color: var(--themegray-800);
  font-size: var(--button-bold-font-size);
  text-align: center;
  letter-spacing: var(--button-bold-letter-spacing);
  line-height: var(--button-bold-line-height);
  white-space: nowrap;
  font-style: var(--button-bold-font-style);
}

.top-nav-header .frame-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--shadow-1);
}

.top-nav-header .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  background: linear-gradient(
    93deg,
    rgba(255, 184, 0, 1) 0%,
    rgba(255, 138, 0, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.top-nav-header .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  background: linear-gradient(
    93deg,
    rgba(255, 184, 0, 1) 0%,
    rgba(255, 138, 0, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-family: var(--button-bold-font-family);
  font-weight: var(--button-bold-font-weight);
  color: transparent;
  font-size: var(--button-bold-font-size);
  text-align: center;
  letter-spacing: var(--button-bold-letter-spacing);
  line-height: var(--button-bold-line-height);
  white-space: nowrap;
  font-style: var(--button-bold-font-style);
}







